<app-main-carousel [slides]="slides"></app-main-carousel>
<div class="home-1-wrap">

  <div class="container">
    <div class="products sec-padding">
      <div class="products-four">

        <h3>বিশেষ ছাড়</h3><a mat-fab color="primary" class="navbar-link"> ALL </a>
        <app-product-carousel [carouselType]="discount" [product]="productsDiscountList | slice:0:25"></app-product-carousel>

      </div>

    </div>
  </div>


  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>পুরাতন জনপ্রিয় বই  </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsOldBookList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>


  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>সর্বাধিক বিক্রিত পণ্য  </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsMostSoldList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>


  <div class="main-banner">
    <app-banners-four [bannerNumber]="0" [banners]="banners"></app-banners-four>
  </div>



  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>প্রি -অর্ডার   </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsPreOrderList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>


  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>স্টেশনারি   </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsStationeryList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>


  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>আর্ট & ক্রাফট   </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsArtAndCraftList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>



  <div class="featured-products-wrap">
    <div class="container">
      <div class="products sec-padding bg">

        <div class="products-four">

          <h3>প্রাতিষ্ঠানিক অর্ডার   </h3> <a mat-fab color="primary" class="navbar-link"> ALL </a>

          <app-product-carousel [product]="productsOrgOrdertList | slice:0:25"></app-product-carousel>

        </div>
      </div>

    </div>
  </div>


  <div class="main-banner">
    <app-banners-four  [bannerNumber]="1" [banners]="banners"></app-banners-four>
  </div>


  <!--<div class="container">
    <app-product-vertical [products]="products"></app-product-vertical>
  </div>-->
  <!--<div class="blog-section sec-padding">
    <div class="container">
      <div class="section-title">
        <h3>Latest From Our Blog</h3>
        <p>
          Business analytics (BA) is the practice of iterative, methodical exploration of an<br>
          organization's data with emphasis on statistical analysis.
        </p>
      </div>

      <app-blog-section></app-blog-section>
    </div>
  </div>-->

</div>
