

<footer class="footer sec-padding">
  <div class="container">
    <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">





      <mat-accordion class="mataccordion" fxHide="false" fxHide.gt-sm>
        <mat-expansion-panel class="matexpansionpanel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <h5>Customer Care</h5>
              </div>
            </mat-panel-title>
            <!--<mat-panel-description>
        Type your name and age
      </mat-panel-description>-->
          </mat-expansion-panel-header>

          <div class="row">
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">How to Buy</a></li>
              <li><a href="#">Track Your Order</a></li>
              <li><a href="#">Returns & Refunds</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="matexpansionpanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <div class="title">
                <h5>Korobi</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a href="#">About Korobi</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Korobi Blog</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="matexpansionpanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <h5>Address</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How to Buy</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Our Partner</a></li>
          </ul>

        </mat-expansion-panel>

        <mat-expansion-panel class="matexpansionpanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <h5>Payment</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a href="#">Replacement Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Suggestion / Complaint</a></li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="matexpansionpanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <h5>Payment Options</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li><a href="#">Rocket</a></li>
            <li><a href="#">bkash</a></li>
            <li><a href="#">nogod</a></li>
            <li><a href="#">DBBL nexus</a></li>
            <li><a href="#">Master</a></li>
            <li><a href="#">Visa</a></li>
          </ul>
        </mat-expansion-panel>


        <mat-expansion-panel class="matexpansionpanel" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="title">
                <h5>Social Media</h5>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul fxLayout="row" class="social list-inline" fxLayoutAlign="space-between center">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
     
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>





      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Customer Care</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">How to Buy</a></li>
            <li><a href="#">Track Your Order</a></li>
            <li><a href="#">Returns & Refunds</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>




      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Korobi</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">About Korobi</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Korobi Blog</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>



      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Address</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How to Buy</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="#">Our Partner</a></li>
          </ul>
        </div>
      </div>



      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Payment</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Replacement Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Suggestion / Complaint</a></li>
          </ul>
        </div>
      </div>



      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Payment Options</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Rocket</a></li>
            <li><a href="#">bkash</a></li>
            <li><a href="#">nogod</a></li>
            <li><a href="#">DBBL nexus</a></li>
            <li><a href="#">Master</a></li>
            <li><a href="#">Visa</a></li>
          </ul>
        </div>
      </div>


      <div fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
        <div class="title">
          <h5>Social Media</h5>
        </div>
        <div class="row">


          <ul fxLayout="row" class="social list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
          <ul fxLayout="row" class="social list-inline">

            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>

        </div>
      </div>





    </div>
  </div>
</footer>
