<div class="banners-container" fxLayout="column" fxLayout.gt-sm="row" *ngIf="banners.length > 0">
  <div class="baner seccond four" fxFlex [ngStyle]="getBgImage(bannerNumber)">
  <!--<div class="baner seccond four" fxFlex style="background-image:url(getBanner(bannerNumber).image)">-->

    <div class="info">
      <div class="text-box w-50" fxLayout="column">
        <h4>{{getBanner(bannerNumber).title}}</h4>
        <p>{{getBanner(bannerNumber).subtitle}}</p>
        <h6>{{getBanner(bannerNumber).description}}</h6>

        <h6>{{getBanner(bannerNumber).link}}</h6>

        <a mat-flat-button class="btn banner-buttons" [routerLink]="getBanner(bannerNumber).link">Shop Now</a>
      </div>
    </div>
  </div>

  <!--id: number;
  title: string;
  subtitle: string;
  description: string;
  image: string;-->
  <!--<div class="baner seccond pd-xs four" fxFlex [ngStyle]="getBgImage(2)">
      <div class="info" >
          <div class="text-box w-50" fxLayout="column" >
              <h4>{{getBanner(2).title}}</h4>
             <p>{{getBanner(2).subtitle}}</p>
      <a href="#">Shop Now</a>
          </div>
      </div>
  </div>
  <div class="baner seccond pd-xs four" fxFlex [ngStyle]="getBgImage(2)">
          <div class="info" >
              <div class="text-box w-50" fxLayout="column" >
                  <h4>{{getBanner(2).title}}</h4>
                 <p>{{getBanner(2).subtitle}}</p>
          <a href="#">Shop Now</a>
              </div>
          </div>
      </div>-->
</div>

